.app{
  background-color: rgb(211, 237, 199);
}
h1{
  font-weight: bold;
}
.title{
  margin: 2px;
}
h2,h1{
  color: blue;
}
span{
  color: red;
}

.display{
  box-sizing: border-box;
  display: inline-block;
  /* float: left; */
  width: 24%;
  padding: 5px;
}
em{
  text-decoration: underline;
}