{% extends 'all-gallery/base.html' %}

{% block content %}
    <h2 class="text-center"><strong>Detailed Image</strong></h2>
    <div class="col-sm-7 col-md-7 col-lg-7">
        <img src="{{details.image.url}}" class="img-responsive" alt="Larger Image" width="100%" style="padding: 3%;">
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <p style="margin-top: 30%;"><strong>Name:</strong> {{details.image_name}} </p>
        <p><strong>Location:</strong> {{details.location}} </p>
        <p><strong>Category:</strong> {{details.category}} </p>
        <p><strong>Description:</strong> {{details.image_description}} </p>
        <button type="button" class="btn btn-secondary btn-success copy-btn" image-link ={{details.image}}>Copy Image Link</button>
    </div>
{% endblock %}