{% extends 'all-gallery/base.html' %}

{%block content%}
{{block.super}}

<div class="container">
  <h1 class="text-center title">Phoenix <span class="name">Gallery</span> <em>(Entire Photo Collection)</em></h1>
  <div class="">
    <h2 class="text-center"></h2>
    {% for image in images%}
      <div class="text-center display">
        <a href="{%url 'image_details' photo_id=image.id%}">
          {{image.image_name}}
          <img src="{{image.image.url}}" class="img-responsive" alt="Picture">
        </a>
      </div>
    {% endfor %}
  </div>

</div>

{%endblock%}
<!-- url 'picture_detail' picture_id=image.id  -->